.menudes {
position: relative;
overflow: hidden;
width: 95%;
margin: 25px auto 10px;
text-align:center;
}
.menudes a {
display: inline-block;
width: 20%; 
box-sizing: border-box;
padding: 15px 5px;
color: #FFFFFF;
background: #44382F;
opacity: .9;
text-decoration: none;
font-weight:bold;
text-align: center;
border-right: 2px solid #fff;
position:relative;
z-index:30;
}
.menudes a:first-child {
border-left: 2px solid #fff;
}
.marca {
position: absolute;
width: 20%;
height: 38px;
box-sizing: border-box;
bottom: 0;
left: -30%;
border: 2px solid #990000;
transition: 0.5s ease-in-out;
z-index:1;
}
.menudes a:hover ~ .marca {
margin-left: -1px;
}
.menudes a:nth-child(1):hover ~ .marca {
left: 0%; 
}
.menudes a:nth-child(2):hover ~ .marca {
left: 20%; 
}
.menudes a:nth-child(3):hover ~ .marca {
left: 40%; 
}
.menudes a:nth-child(4):hover ~ .marca {
left: 60%; 
}
.menudes a:nth-child(5):hover ~ .marca {
left: 80%;
}


footer 
{   
   height: 40px;
   background: #A5A5A5;
   border-top: 0px solid #DBDBDB;
   color: #000000;
   margin-top: 32.8em;
   padding: .6em 0;
   text-shadow: 1px 1px 0 rgba(219,219,219, 1);
   text-align: center;
   line-height: 60px;   
}


/*REDES SOCIALES*/
.social {
	position: fixed;
	left: -7;
	top: 270px;
	z-index: 2000;
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
	}
 
	.social ul li .icon-facebook {background:#3b5998;} 
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; 
		padding: 10px 30px; 
	}


