.titulo-principal {
	font-size: 3.5em;
}

.text-negrilla {
	font-weight: bold;	 
}

.padding-mas {
	padding: 20px 15px;
}

.separador {
	margin: 10px 0;
}

.img-brand {
	height: 100px;
}

.navbar-nav {
    position: relative;
    bottom: 20px;		
}

/*REDES SOCIALES*/
.social {
	position: fixed; 
	left: -7; 
	top: 270px;
	z-index: 2000; 
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
	}
 
	.social ul li .icon-facebook {background:#3b5998;} 
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; 
		padding: 10px 30px; 
	}