
* {
	margin: 0;
	padding: 0;
}
body {
	background: #95a5a6;
	background-image: url(http://www.tutosytips.com/wp-content/themes/sprout11/img/bg.png);
	font-family: 'Helvetica Neue', Arial, Sans-Serif;
	
}
.caja-redes {
    margin: 0 auto;
    padding: 15px;
    position: relative;
    width: 400px;
}
.caja-redes a {
	text-align: center;
	font-size: 20px;
}
.icon-button {
	background-color: white;
	border-radius: 3em;
	cursor: pointer;
	display: inline-block;
	height: 3em;
	line-height: 3em;
	margin: 0 8px;
	position: relative;
	width: 3em;
}
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3em;
	height: 3em;
	border-radius: 3em;
	margin: -1.5em;
}
.linkedin span {
	background-color: #4393BB;
}
.pinterest span {
	background-color: #C92228;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}
/* Iconos */
.icon-button i {
	background: none;
	color: white;
	left: 0;
	line-height: 3em;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 3em;
	z-index: 2;
}
.icon-button .icon-linkedin {
	color: #4393BB;
}
.icon-button .icon-pinterest {
	color: #C92228;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-linkedin, .icon-button:hover .icon-pinterest, .icon-button:hover .icon-twitter, .icon-button:hover .icon-facebook, .icon-button:hover .icon-google-plus {
	color: white;
}